.add {
    width: 100%;
  }

  .add__more {
    background-color: #202020;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 70px 80px;
  }
  
  .add__more-button {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.21;
    color: #FFFFFF;
    height: 36px;
    width: 320px;
    background: #2F2F2F;
    border: none;
    padding: 0;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
  }
