.header__link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #FFFFFF;
  margin-right: 30px;
}

.header__button {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 3px;
}

@media screen and (max-width: 767px) {
  .header__link {
    margin-right: 14px;
  }

  .header__button {
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: 1.6;
  }

  .header__link {
    font-size: 10px;
    line-height: 1.6;
  }
}
